# Core Dependencies for the project
django 
djangorestframework 
django-redis
django-auth-ldap  
whitenoise       
django-cors-headers

# Environment and configuration
python-dotenv      
python-ldap        

# Date and time handling
pytz              

# External services integration
geopy              
requests           

# Testing dependencies 
pytest       
pytest-django      
requests-mock      
mock     

# Utility
packaging
