@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  @apply font-sans text-white bg-gradient-to-br from-[#e1d0b1] via-[#a3b8c9] to-[#9cd1d1] bg-fixed animate-movingColor dark:bg-gradient-to-br dark:from-[#292738] dark:via-[#3c3750] dark:to-[#565d7b] dark:text-white;
}

.horizontal-scroll-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.section {
  flex: 0 0 100vw;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
