{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png'%}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Search result</title> 
</head>
<body class="overflow-hidden">
    <div id="particles-js"></div>
    
    <header class="w-full h-14 flex items-center justify-between px-4 transition-all ease-in-out relative">
        <a href="https://kiarashbashokian.com" target="_blank" aria-label="Visit Kiarash Bashokian's Website" 
        class="logo-link p-2 transition-transform transform hover:scale-[1.2] sm:p-3 md:p-4">
            <img src="{% static 'img/logo.png' %}" alt="Logo of Kiarash Bashokian" 
                class="logo w-[50px] h-auto pointer-events-none sm:w-[60px] md:w-[70px]">
        </a>

        <a href="https://github.com/Ghosts6" target="_blank" id="github-link" aria-label="Visit GitHub Profile" 
        class="absolute left-1/2 transform -translate-x-1/2 text-[#ffffff] transition-transform transform hover:scale-[1.2] sm:text-[36px] md:text-[40px]">
            <i class="fa-brands fa-github text-[42px]"></i>
        </a>

        <button id="dark-mode-toggle" 
                class="bg-transparent border-none cursor-pointer focus:outline-none sm:text-[36px] md:text-[40px] transition-transform transform hover:scale-[1.2]" 
                onclick="toggleDarkMode()" aria-label="Toggle Dark Mode">
            <i id="dark-mode-icon" class="fas fa-moon text-[#ffffff]"></i>
        </button>
    </header>

    <main class="search-container">
        <div class="input-container relative pt-[15px]">
            <h1 class="title">Check the Weather</h1>
            <p class="search-description text-center">Enter a city name to see the weather forecast.</p>
            <form id="weather-form" class="flex flex-col items-center gap-4 mt-4">
                <input type="search" id="search" name="city_name" placeholder="Search city by typing name"
                    class="w-[90%] md:w-[70%] p-3 text-gray-800 rounded-md border-[2px] border-[#7fb3d5] dark:border-[#065050] focus:outline-none focus:ring-2 focus:ring-[#7fb3d5] dark:focus:ring-[#065050] placeholder:text-gray-600 dark:text-white dark:bg-[#2e3a45] transition duration-300 ease-in-out"
                    required>
                <button type="submit"
                    class="w-[90%] md:w-[70%] p-3 bg-gradient-to-r from-[#7fb3d5] to-[#9cd1d1] font-semibold rounded-md shadow-md relative transition-all ease-in-out duration-300 hover:shadow-lg active:scale-95">
                    <span class="relative z-10 animate-lightningText">Search</span>
                </button>
                <div id="suggestions-container"
                    class="suggestions-container w-[90%] md:w-[70%] left-1/2 -translate-x-1/2 bg-white dark:bg-[#2e3a45] text-gray-800 dark:text-white shadow-lg rounded-lg mt-2 p-2 absolute top-[100%] z-10 hidden max-h-[300px] overflow-y-auto transition-all duration-300 ease-in-out">
                </div>
            </form>
            <img class="mt-8 mb-3 max-w-[90%] md:max-w-[70%] mx-auto absolute left-1/2 -translate-x-1/2  border-[1px] border-solid border-white rounded-lg shadow-lg dark:border-black dark:shadow-xl dark:brightness-90" src="{% static 'img/weather-search.jpg' %}" alt="search-img">
        </div>

        <div id="result-container" class="result-container hidden relative pt-[15px] w-full h-[75vh]">
            <div class="search-result flex justify-center">
                <div id="weather-details" class="weather-details">
                    <div class="city-info text-center p-6 bg-gradient-to-r from-[#6a7f8d] to-[#4a5f68] rounded-lg shadow-xl mb-6">
                        <h2 class="title -translate-y-1/2 top-[5%] text-3xl md:text-4xl font-extrabold text-white">
                            Weather in <span id="city-name" class="text-[#e74c3c]"></span>
                        </h2>
                        <h3 class="subtitle mt-4 text-lg font-semibold text-[#f1f1f1]">Weather Summary</h3>
                        <p class="weather-summary text-xl text-[#d1d1d1] mt-3">
                            <strong class="text-white">Local Time:</strong> <span id="city-time"></span><br>
                            <strong class="text-white">Temperature:</strong> <span id="current-temp"></span>°C<br>
                            <strong class="text-white">Condition:</strong> <span id="current-condition"></span>
                        </p>
                    </div>
                    <h3 class="subtitle text-2xl font-semibold text-[#2c3e50] dark:text-white mt-6">Hourly Forecast</h3>
                    <div class="hourly-weather flex gap-6 p-4 overflow-x-auto scrollbar-thin scrollbar-thumb-[#7fb3d5] dark:scrollbar-thumb-[#065050] rounded-lg bg-white dark:bg-[#2e3a45] shadow-lg"></div>
                </div>
            </div>
            <div id="error-message" class="relative left-1/2 top-[15%] -translate-x-1/2 -translate-y-1/2 hidden flex flex-col justify-center items-center gap-6">
                <h2 class="title mt-[-50px] text-[28px] sm:text-[32px] md:text-[36px] font-extrabold text-[#c0392b] dark:text-[#e74c3c]">
                    City Not Found
                </h2>
                <p class="search-description text-gray-800 dark:text-gray-300 text-center">
                    Sorry, we couldn't find the weather for that city. Please try again.
                </p>
                <img class="mt-8 mb-3 w-[70%] absolute left-1/2 top-full -translate-x-1/2  border-[1px] border-solid border-white rounded-lg shadow-lg dark:border-black dark:shadow-xl dark:brightness-90" src="{% static 'img/city_not_found.png'%}" alt="city not found">
            </div>

             <button id="try-again-button" 
                class="w-[90%] md:w-[70%] p-3 left-1/2 bottom-[-50px] -translate-x-1/2 bg-gradient-to-r from-[#e74c3c] to-[#c0392b] text-white font-semibold rounded-md shadow-md absolute transition-all ease-in-out duration-300 hover:shadow-lg active:scale-95">
                <span class="relative z-10 animate-lightningText">Try Again</span>
            </button>
        </div>
    </main>

    <button id="homeButton" class="button-home absolute left-1/2 -translate-x-1/2 w-[25%]">
        <span class="leSnake">
            <span class="inline-block animate-leSnake delay-0">H</span>
            <span class="inline-block animate-leSnake delay-100">o</span>
            <span class="inline-block animate-leSnake delay-200">m</span>
            <span class="inline-block animate-leSnake delay-300">e</span>
        </span>
    </button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script> var redirect = "{% url 'home' %}" </script> 
    <script src="{% static 'js/weather.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>     
</body>
</html>